---

---

<section class="relative md:-mt-[76px]" id="services">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    <video
      autoplay
      muted
      loop
      class="object-cover w-full h-50 bg-black opacity-80"
    >
      <source src="https://files.porsche.com/filestore/video/multimedia/none/model-series-911-gt3-ext-higlights-03/video-mp4/5e33de9a-5cb8-11eb-80d2-005056bbdc38/porsche-video.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="pt-12 md:pt-20 text-center text-gray-500">
      <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading text-gray-900 dark:text-gray-200">Explore with Our Car Rental Services</h1>
    </div>
    <div class="py-4 md:py-8 text-center text-white">
      <h1 class="text-base md:text-2xl font-bold leading-tighter tracking-tighter font-heading dark:text-gray-200">Experience Comfort, Convenience, and Luxury on the Road</h1>
    </div>
  </div>
</section>
